[Unit]
Description=gopass Secret Service D-Bus daemon
Documentation=https://github.com/gopasspw/gopass/blob/master/docs/commands/secret-service.md
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=@GOPASS@ secret-service serve
Restart=on-failure

[Install]
WantedBy=graphical-session.target
