name: golangci-lint
on:
  workflow_dispatch:
      #  push: # Disabled until Golangci-lint GHA is compiled with Go 1.18
      #    tags:
      #      - v*
      #    branches:
      #      - master
      #      - main
      #  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest # we have a linter whitelist in our .golangci.yml config file
          only-new-issues: true
